
{{extend 'layout.html'}}
 
<div class="row">
<div class="col-md-12">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Processo : Auxiliar Administrativo</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-wrench"></i></button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Gerar Relatório</a></li>

          </ul>
        </div>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <!-- Aqui -->
      
    </div>
    <!-- /.row -->
  </div>
  <!-- ./box-body -->
  <div class="box-footer">
    <div class="row">

    </div>
    <!-- /.row -->
  </div>
  <!-- /.box-footer -->
</div>
<!-- /.box -->
</div>
<!-- /.col -->
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript">
var ctx = document.getElementById('candidatosChart').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['Candidato 1', 'Candidato 2', 'Candidato 3', 'Candidato 4', 'Candidato 5', 'Candidato 6'],
    datasets: [{
      label: 'Pontuação',
      data: [12, 19, 3, 5, 2, 3],
      borderWidth: 0
    }]
  },
  options: {
    events: ['click'],
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});
$(document).ready(function () {
  $('#service_request_request_priority option').each(function () {
    if (this.innerHTML.indexOf("*") != -1) {
      var catclass = this.innerHTML.split("*", 2);
      $(this).addClass(catclass[0]);
      this.text = catclass[1];
    }
  })
  $("#service_request_request_priority").chained("#service_request_request_type");
  $('#service_request_request_subcategory option').each(function () {
    if (this.innerHTML.indexOf("*") != -1) {
      var catclass = this.innerHTML.split("*", 2);
      $(this).addClass(catclass[0]);
      this.text = catclass[1];
    }
  })
  $("#service_request_request_subcategory").chained("#service_request_request_category");
});
</script>
        
      </div>

      

    </section>
